.content {
    margin-left: 7%;

    position: relative;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: 'Arvo', Arvo;
}
.content .title {
    position: relative;
    max-width: 450px;
}

.content .title h2 {
    color: rgb(102, 102, 102);
    font-size: 4vw;
    line-height:  1.5em;
    font-weight:  900px;
}

.content .title p {
    color: rgb(102, 102, 102);
}

.content .title a {
    display: inline-block;
    margin-top: 30px;
    padding: 8px 20px;
    background: #ffad31;
    color: rgb(255, 255, 255);
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}
.content .title #gh {
    position: relative;
    top: 0px;
    margin-left: 5px;
    background: none;
    border: 1px solid black;
    padding: 3px 5px;
}

.content .example-snippet {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(59, 59, 59);
    box-shadow: 1px 0px 7px rgb(112, 112, 112);
    border-radius: 10px;

    width: 400px;
}

.content .example-snippet pre code {
    font-size: 17px;
}

#middle-section {
    overflow-x: hidden;
    overflow-y: hidden;
}

@media screen and (max-width: 500px) {
    .content .title p {
        font-size: 2.5vw !important;
    }
}

@media screen and (max-width: 1142px) {
    .content .example-snippet {
        background: none;
        box-shadow: none;
        border-radius: 0px;
        width: 0px;
    }
}

@media screen and (max-width: 800px) {
    .content .title a {
        font-size: 12px;
    }

    .content .title #gh {
        border: 0px;
        margin-left: 0px;
        padding: 6px 15px;
    }

    .content .title #gh svg {
        width: 40px;
    }
}