@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    overflow-x: hidden;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: rgb(252, 252, 252); */
    background-color: #fcfcfc;
    transition: 0.5s;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width:  100%;
    padding: 17px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F38D71;
}
header .title {
    margin: auto;

    position: relative;
    font-size: 3.5em;
    color: #FCC777;
    font-weight: 400;
    text-decoration: none;
}

.content {
    margin-left: 7%;

    position: relative;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: 'Arvo', Arvo;
}
.content .title {
    position: relative;
    max-width: 450px;
}

.content .title h2 {
    color: rgb(102, 102, 102);
    font-size: 4em;
    line-height:  1.5em;
    font-weight:  900px;
}

.content .title p {
    color: rgb(102, 102, 102);
}

.content .title a {
    display: inline-block;
    margin-top: 30px;
    padding: 8px 20px;
    background: #ffad31;
    color: rgb(255, 255, 255);
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}
.content .title #gh {
    position: relative;
    top: 0px;
    margin-left: 5px;
    background: none;
    border: 1px solid black;
    padding: 3px 5px;
}

.content .example-snippet {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(59, 59, 59);
    box-shadow: 1px 0px 7px rgb(112, 112, 112);
    border-radius: 10px;

    width: 400px;
}

.content .example-snippet pre code {
    font-size: 17px;
}

#middle-section {
    overflow-x: hidden;
    overflow-y: hidden;
}